<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Points System</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="shortcut icon" href="#">

</head>

{% extends "base.html" %}
{% block content %}
<body>
<br>
<h2> Enter Transaction Information </h2>
<h2>___________________________________________</h2>
<br><br>
<div class="d-flex justify-content-center">

<form action="./payout" class="form-group" method="post">


    <label for="timestamp"> Transaction Date </label>
    <input type="text" class="form-control" name="timestamp" id="timestamp" placeholder="2020-11-02T14:00:00Z"style="width: 800px;">
<br>

    <label for="points">Point Amount</label>
    <input type="number" name="points" class="form-control" id="points" placeholder="Integer Values"style="width: 800px;">
<br>
    <label for="payer"> Payer </label>
    <input type="text" name="payer" class="form-control" id="payer" aria-describedby="Name" placeholder="Name"style="width: 800px;">
<br>
<button type="submit" class="btn btn-primary">Submit</button>

</form>

  <br>
</div>
<div class="d-flex justify-content-center">

<form action="./points" method="get">
<button type="submit" class="btn btn-info"> <a href="{{url_for('points')}}">View All Transactions</a></button>
</form>
</div>

{% endblock %}
  </body>
</html>
